[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "1.12.2"
scikit-learn = "1.1.2"
matplotlib = "3.8.0"
plotly = "5.17.0"

[dev-packages]

[requires]
python_version = "3.10"
